$accent: #ff817e;
$secondaccent: #ffead5;

$textcolor: #555555;
$textlight: #888888;
$headingcolor: #263a41;

$fontfamily: "Roboto", sans-serif;
$headingfamily: "Rufin", serif;

$fontsize: 17px;
$lineheight: 1.7;
